
.topBar {
    width: 100%;
    background-color: white;
    padding: 50px auto 50px 20px;
}
.titleDiv {
    max
}
h1 {
    font-family: "Arial";
}
body {
    background-color: gainsboro;
    margin: 0;
}